@font-face{font-family:"font_R";src:url("fonts/textfont/Al-Jazeera-Arabic-Regular.ttf") format("truetype")}
@font-face{font-family:"font_b";src:url("fonts/textfont/Al-Jazeera-Arabic-Bold.ttf") format("truetype")}

p, div, span, h1, h2, h3, h4, h5 {
    font-family: 'font_R';
}

body {/*background: #3e4044*/}
a.mainLogo {
    display: block;
    width: 100%;
    padding:15px;
}
.mainLogo img {width: 80%; margin: auto}
.navbar-default {
    height:70px;}


.sidebar ul li a.active {background-color: #f89506; color: #fff; font-family: 'font_B';}
.sidebar ul li {    background: #3e4044; border: none;     padding-bottom: 12px;}
.sidebar ul li a {color: #fff}
.nav>li>a:hover, .nav>li>a:focus {
    background-color: #f89506;
    color: #000;
}
.fa-fw {margin-left: 12px;}

.btn-primary { background: #f89506; border: none; box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.2)}
.btn-primary:hover {     background: #fff;  color: #f89506;  box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.2);}
.bootstrap-tagsinput {width: 100%;}
.bootstrap-tagsinput input {width: 100%;}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus
{
    background-color: #f89506;
    border: none;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus
{
    color: #f89506;
}

.pagination>li>a, .pagination>li>span {
    color: #f89506;
}
.form-control{font-size:19px; height: 40px; padding-top: 0px; }
.btn{height: 40px; font-size: 15px; }
.filterWrapper{margin-bottom: 10px; }