div#fieldChooser {
    width: 100%;
    height: 300px;
}

.fc-field {
    width: 90%;
    height: 50px;
    margin: 5px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px 0px rgba(222, 222, 222, 1.0);
}

.fc-field:hover {
    outline: #cacaca solid 1px;
}

.fc-selected {
    background-color: #ffe284;
}

.fc-selected:hover {
    background-color: #ffd448;
}

.fc-field-list {
    width: 50%;
    height: 500px;
    margin: 0px;
    padding: 3px;
    overflow: scroll;
}

.fc-source-fields {
    float: right;
}

.fc-destination-fields {
    float: left;
}